{% extends 'PBundle:Layout:sb-admin.html.twig' %} {% block body %} {{
parent() }}
<div class="container-fluid col-sm-11 col-sm-offset-1">
	<div class="row">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<br> {% for flashMessage in app.session.flashbag.get('erreur') %}
			<div class="alert bg-info">
				<strong>{{ flashMessage|raw }}</strong>
			</div>
			{% endfor %}
			
			
			
			
			
					<form method="post" action="{{ path('indicateur_stats') }}">
						<div class="col-md-12">
							<div class="col-md-2">
								Sites: 
							</div>
							<div class="col-md-4">
								<select name="site[]" class="form-control" multiple="multiple">
									{% for site in sites %}
										<option>{{ site['d.libelleEtab'] }}</option>
									{% endfor %}
								</select>
							</div>				
							<div class="col-md-2">
								Statut: 
							</div>
							<div class="col-md-4">
								<select name="statut" class="form-control">
										<option {% if statut == 'Tous' %}selected{% endif %}>Tous</option>
										<option {% if statut == 'OUV' %}selected{% endif %}>OUV</option>
										<option {% if statut == 'HORS OUV' %}selected{% endif %}>HORS OUV</option>
								</select>
							</div>				
						</div>
						
						<div class="col-md-12">
							<input type="submit" class="btn btn-primary pull-right">
							<br><br>
						</div>
					</form>
			
			

			<div class="col-lg-12">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-bar-chart-o"></i> Indicateurs par site: " <b>{{ site }}</b>  "
						</h3>
					</div>
					<div class="panel-body">
					<table class="table table-bordered table-hover table-striped sortable" id="liste_cat">
					<thead>
						<tr>
							<td><strong>Intitul&eacute; de l'Indicateur</strong></td>
							{% for a in 1..nbr_mois %}						
								<td>
									Mois {{ a }}
								</td>							
							{% endfor %}
							<td>
								Moyenne
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Taux de repr&eacute;sentativit&eacute; des femmes</td>
							{% for a in 1..nbr_mois %}						
								<td>
									{{ taux_femme[a-1] }}
								</td>							
							{% endfor %}
								<td>
									{{ taux_femme[nbr_mois] }}
								</td>
						</tr>
						<tr>
							<td>Moyenne d'&acirc;ge</td>
							{% for a in 1..nbr_mois %}						
								<td>
									{{ moyenne[a-1] }}
								</td>							
							{% endfor %}
								<td>
									{{ moyenne[nbr_mois] }}
								</td>
						</tr>
						<tr>
							<td>Anciennet&eacute;</td>
							{% for a in 1..nbr_mois %}						
								<td>
									{{ taux_anc[a-1] }}
								</td>							
							{% endfor %}
								<td>
									{{ taux_anc[nbr_mois] }}
								</td>
						</tr>
						<tr>
							<td>Taux de d&eacute;part</td>
							{% for a in 1..nbr_mois %}						
								<td>
									{{ taux_dep[a-1] }}
								</td>							
							{% endfor %}
								<td>
									{{ taux_dep[nbr_mois] }}
								</td>
						</tr>
						<tr>
							<td>Taux de rotation</td>
							{% for a in 1..nbr_mois %}						
								<td>
									{{ taux_rot[a-1] }}
								</td>							
							{% endfor %}
								<td>
									{{ taux_rot[nbr_mois] }}
								</td>
						</tr>
					</tbody>
				</table>
						
					</div>
				</div>
			</div>
			
	
		</div>
	</div>
</div>
{% endblock %}
