{% extends 'PBundle:Layout:sb-admin.html.twig' %} {% block body %} {{
parent() }}
<div class="container-fluid col-sm-11 col-sm-offset-1">
	<div class="row">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<br> {% for flashMessage in app.session.flashbag.get('erreur') %}
			<div class="alert bg-info">
				<strong>{{ flashMessage|raw }}</strong>
			</div>
			{% endfor %}


		<form action="{{ path('p_stats_date') }}" method="post" class="form">
			<div class="form-group">
				<div class="col-lg-12">
					<div class="col-lg-4">
						<label for="startDate">Date :</label>
						<input name="startDate"	id="startDate" class="date-picker" />
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="submit" value="Valider" class="btn btn-primary" />
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-12">
				<br>
					<div class="control-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="fa fa-bar-chart-o"></i> 
									Nombre d'embouch&eacute;s par femmes et par hommes par mois : <b>" {{ date }} "</b>
								</h3>
							</div>
							<div class="panel-body">
								<div id="morris-line-chart"></div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</form>


<style>
.morris-hover {
	position: absolute;
	z-index: 1000;
}

.morris-hover.morris-default-style {
	border-radius: 10px;
	padding: 6px;
	color: #666;
	background: rgba(255, 255, 255, 0.8);
	border: solid 2px rgba(230, 230, 230, 0.8);
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
	font-weight: bold;
	margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
	white-space: nowrap;
	margin: 0.1em 0;
}

.ui-datepicker-calendar {
	display: none;
}
</style>


<script type="text/javascript">

    $(function() {
        $('.date-picker').datepicker( {
        	yearRange: '1910:2100',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy-mm',
            closeText : "Valider",
            currentText : "Ajourd'hui",
            monthNames: ["1","2","3","4","5","6","7","8","9","10","11","12"],
            monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"],
            onClose: function(dateText, inst) { 
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }            
        });
    });

    

</script>

	<!-- Page Specific Plugins -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
	<script src="{{ asset('sb-admin/js/morris/chart-data-morris.js') }}"></script>
	<script type="text/javascript">
	function stats() {	
		window.a = Morris.Line({
	        element: 'morris-line-chart',
		        data: {{ stats|raw }},
		        xkey: 'y',
		        ykeys: ['a', 'b'],
		        labels: ['Hommes', 'Femmes'],
		        hideHover: 'auto',
		        resize: true
			});
	}
	$(document).ready(function() {
		stats();
		var StatsResize1;
		
	    $(window).resize(function(event){
	    	event.preventDefault();

	    	clearTimeout(StatsResize1);
	    	StatsResize1 = setTimeout(window.a.redraw(), 1000);
	    });
	});
	</script>
		</div>
	</div>
</div>
{% endblock %}
