{% extends 'PBundle:Layout:sb-admin.html.twig' %} {% block body %} {{
parent() }}
<div class="container-fluid col-sm-11 col-sm-offset-1">
	<div class="row">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<br> {% for flashMessage in app.session.flashbag.get('erreur') %}
			<div class="alert bg-info">
				<strong>{{ flashMessage|raw }}</strong>
			</div>
			{% endfor %}

			
			
			
			
			
			
			
			
			<div class="col-md-12">
				<div class="col-md-2">
					Sites: 
				</div>
				<div class="col-md-10">
					<form method="post" action="{{ path('p_stats_date') }}">
						<div class="col-md-4">
							<select name="site" class="form-control">
								<option>Tous</option>
								{% for site in sites %}
									<option>{{ site['d.libelleEtab'] }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-lg-4">
							<input name="startDate"	id="startDate" class="date-picker form-control" placeholder="Date" />
						</div>
						<div class="col-md-2">
							<input type="submit" class="btn btn-primary">
						</div>
					</form>
				<br><br>
				</div>				
			</div>
			
			
			
			
			<div class="col-lg-12">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-bar-chart-o"></i> Taux par an: <b>" {{ date }} "</b> par site: <b>" {{ site }} "</b>
						</h3>
					</div>
					<div class="panel-body">
					<table class="table table-bordered table-hover table-striped sortable" id="liste_cat">
					
					<tbody>
						{% for datas in tab_ratios %}
							<tr>
								{% for data in datas %}
									<td>
										{{ data[0]|convert_encoding('UTF-8', 'iso-8859-1')|raw }}
									</td>
									<td>
										{{ data[1] }}
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
						
					</div>
				</div>
			</div>
			
			
			<div class="col-lg-12">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-bar-chart-o"></i> D&eacute;part par motif par an: <b>" {{ date }} "</b> par site: <b>" {{ site }} "</b>
						</h3>
					</div>
					<div class="panel-body">
					<table class="table table-bordered table-hover table-striped sortable" id="liste_cat">
					<thead>
						<tr>
							<td><strong>Motif</strong></td>
							{% for cat in cts %}						
								<td>
									{{ cat['d.classification'] }}
								</td>											
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for motif in motifs_data %}
						<tr>
							<td>{{ motif[0]['d.libSituation']|raw }}</td>
							{% for data in motif[1] %}
								<td>{{ data|raw }}</td>
							{% endfor %}	
						</tr>
						{% endfor %}
					</tbody>
				</table>
						
					</div>
				</div>
			</div>

			
			
			
			
			<div class="col-lg-12">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-bar-chart-o"></i> Promotions H/F par nouvelle situation: <b>" {{ date }} "</b> par site: <b>" {{ site }} "</b>
						</h3>
					</div>
					<div class="panel-body">
					<table class="table table-bordered table-hover table-striped sortable" id="liste_cat">
					<thead>
						<tr>
							<td><strong>Motif</strong></td>
							{% for s in sexe %}						
								<td>
									{{ s|convert_encoding('UTF-8', 'iso-8859-1') }}
								</td>											
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for datas in npromo_libelle %}
						<tr>
							<td>{{ datas[0]['d.nouvelleSituation']|raw }}</td>
							{% for data in datas[1] %}
								<td>{{ data|raw }}</td>
							{% endfor %}	
						</tr>
						{% endfor %}
					</tbody>
				</table>
						
					</div>
				</div>
			</div>
			
			
			
				
				<div class="col-lg-12">
				<br>
					<div class="control-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="fa fa-bar-chart-o"></i> 
									Nombre d'embouch&eacute;s par femmes et par hommes par an : <b>" {{ date }} "</b> par site: <b>" {{ site }} "</b>
								</h3>
							</div>
							<div class="panel-body">
								<div id="morris-line-chart"></div>
							</div>
						</div>
					
					</div>
				</div>
				
				<div class="col-lg-12">
				<br>
					<div class="control-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="fa fa-bar-chart-o"></i> 
									Nombre d'embouch&eacute;s par cat&eacute;gorie par an : <b>" {{ date }} "</b> par site: <b>" {{ site }} "</b>
								</h3>
							</div>
							<div class="panel-body">
								<div id="morris-line-chart-cat"></div>
							</div>
						</div>
					
					</div>
				</div>
				
				<div class="col-lg-12">
				<br>
					<div class="control-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="fa fa-bar-chart-o"></i> 
									Nombre d'embouch&eacute;s par type de contrat par an : <b>" {{ date }} "</b> par site: <b>" {{ site }} "</b>
								</h3>
							</div>
							<div class="panel-body">
								<div id="morris-line-chart-type"></div>
							</div>
						</div>
					
					</div>
				</div>
			</div>


<style>
.morris-hover {
	position: absolute;
	z-index: 1000;
}

.morris-hover.morris-default-style {
	border-radius: 10px;
	padding: 6px;
	color: #666;
	background: rgba(255, 255, 255, 0.8);
	border: solid 2px rgba(230, 230, 230, 0.8);
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
	font-weight: bold;
	margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
	white-space: nowrap;
	margin: 0.1em 0;
}

.ui-datepicker-calendar {
	display: none;
}
</style>


<script type="text/javascript">

    $(function() {
        $('.date-picker').datepicker( {
        	yearRange: '1910:2100',
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy',
            closeText : "Valider",
            currentText : "Ajourd'hui",
            onClose: function(dateText, inst) { 
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year));
            }            
        });
        $(".date-picker").focus(function () {
	    	$(".ui-datepicker-month").hide();
	    });
    });

    

</script>

	<!-- Page Specific Plugins -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
	<script src="{{ asset('sb-admin/js/morris/chart-data-morris.js') }}"></script>
	<script type="text/javascript">
	function stats() {	
		window.a = Morris.Line({
	        element: 'morris-line-chart',
		        data: {{ stats|raw }},
		        xkey: 'y',
		        ykeys: ['a', 'b'],
		        labels: ['Hommes', 'Femmes'],
		        hideHover: 'auto',
		        resize: true,
		        smooth: true
			});

		window.b = Morris.Line({
	        element: 'morris-line-chart-cat',
		        data: {{ stats_cat|raw }},
		        xkey: 'y',
		        ykeys: {{ cats|raw }},
		        labels: {{ cats|raw }},
		        hideHover: 'auto',
		        resize: true,
		        smooth: true
			});

		window.c = Morris.Line({
	        element: 'morris-line-chart-type',
		        data: {{ stats_types|raw }},
		        xkey: 'y',
		        ykeys: {{ types|raw }},
		        labels: {{ types|raw }},
		        hideHover: 'auto',
		        resize: true,
		        smooth: true
			});
		
	}
	$(document).ready(function() {
		stats();
		var StatsResize1;
		var StatsResize2;
		var StatsResize3;
		
	    $(window).resize(function(event){
	    	event.preventDefault();

	    	clearTimeout(StatsResize1);
	    	StatsResize1 = setTimeout(window.a.redraw(), 1000);
	    	clearTimeout(StatsResize2);
	    	StatsResize2 = setTimeout(window.b.redraw(), 1000);
	    	clearTimeout(StatsResize3);
	    	StatsResize3 = setTimeout(window.c.redraw(), 1000);
	    });
	});
	</script>
		</div>
	</div>
</div>
{% endblock %}
